  <% provide(:title, 'Send Task') %>



    <div class="center jumbotron">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
            <h1>Write ur task's decision:</h1>
            <%= form_for(:answ, url: answ_create_path) do |f| %>
              <%=f.label :content %>
              <%=f.text_area :content, class: 'form-control' ,placeholder: "Compose new answer" %>
              <%= f.label :final %>
              <%= f.check_box :final%>
              <%= f.hidden_field :task_id, value: params[:format] %>
              <%=f.submit "Create",name: 'create', class: "btn btn-lg btn-primary" %>
              <p></p>
              <%=f.submit "Show report", name: 'answ_report', class: "btn btn-lg btn-primary" %>
            <%end%>
    </div>
  </div>