  <p>
    <%if current_teacher(params[:id])%>
      <%= link_to "Task: #{task.name} ", task_path(task) , class: "btn btn-lg btn-primary" %>
      <%= link_to "Edit: ", edit_task_path(task) , class: "btn btn-lg btn-primary" %>
      <% @users_all = Answer.where(task_id: task.id) %>
      <% @users_sent = Answer.where(task_id: task.id, sending: true) %>
      <%=link_to "[ #{@users_sent.count} /  #{@users_all.count} ]",    answ_path(task)   %>
      <%= link_to "[delete task]", task, method: :delete, data: { confirm: "You sure?" } %>
    <%else%>
      <%unless current_user.tasks(task.id, current_user.id).nil?%>
        <%= link_to "Task: #{task.name} ", task_path(task.id) , class: "btn btn-lg btn-primary" %>
      <%end%>
    <%end%>
  </p>