  <p>
    <%if current_teacher(params[:id])%>
      <%= link_to "Task: #{task.name} ", task_path(task) , class: "btn btn-lg btn-primary" %>
      <%= link_to "Edit: ", edit_task_path(task) , class: "btn btn-lg btn-primary" %>
      <% @users_all = GroupUser.where(group_id: params[:id]) %>
      <% @users_sent = Answer.where(task_id: task.id, sending: true, status: 'complete') %>
      <%=link_to "[ #{@users_sent.count} /  #{@users_all.count} ]",    answ_show_path(task, params[:id])   %>
      <%= link_to "[delete task]", task, method: :delete, data: { confirm: "You sure?" } %>
    <%else%>
        <%= link_to "Task: #{task.name} ", task_path(task.id) , class: "btn btn-lg btn-primary" %>
    <%end%>
  </p>