<% provide(:title,"Home") %>
  <title> <%= full_title(yield(:title)) %> </title>
<div class="left jumbotron">
    <h1> Student's answer: </h1>
  <div class="center jumbotron">
  <% if @user.status == "complete" %>
    <h3 style="color:#008000">[<%= @user.status %>]</h3>
  <% else %>
    <h3 style="color:#ff0000">[<%= @user.status %>]</h3>
  <% end %>
  </div>
  <p>
    <%= @text %>
  </p>
  <div class="center jumbotron">


<h4>
  <%unless @user.status == "complete" %>


    <%= form_for(:feedback, url: users_feedback_path(@user)) do |f| %>


      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', placeholder: "Compose the feedback..." %>



      <%= f.submit "complete", name: 'complete', class: "btn btn-primary" %>
<p>                 </p>
      <%= f.submit "rework", name: 'rework', class: "btn btn-primary" %>


    <% end %>


    <% else %>

    <%= link_to "Download this task", administration_download_user_path, class: "btn btn-primary" %>

  <%end%>
</h4>

  </div>

</div>