<div class="left jumbotron">

<h1>Administration panel</h1>

<%= link_to "Tasks", administration_tasks_path , class: "btn btn-lg btn-primary" %>

<p></p>


<%= link_to "Add new task", administration_new_path , class: "btn btn-lg btn-primary" %>

  <p></p>


<%= link_to "Create new student", new_user_registration_path , class: "btn btn-lg btn-primary" %>


  <p></p>


  <%= link_to "Check task's progress", tasks_progress_path, class: "btn btn-lg btn-primary" %>

  <p></p>


  <%= form_for(:answ, url: administration_download_all_path) do |f| %>

       <%= f.submit "Download all tasks", class: "btn btn-primary" %>

  <% end %>

</div>






